:root{

    /* 400 = base  */
    --clr-primary-400:hsl(158,36%,37%);
    --clr-secondary-200:hsl(30, 38%, 92%);

    /* 900 = darkest 100 = lightest  */
    --clr-neutral-900:hsl(212, 21%, 14%);
    --clr-neutral-400:hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    
    --fw-regular:500;
    --fw-bold:700;

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

img,
picture,
svg{
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}